<a href="https://colab.research.google.com/github/ABBAS-37405/PYTHON-AND-DATA-SCIENCE/blob/main/Copy_of_class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARITHMETIC OPERATORS

In [ ]:
#SUM OF TWO NOS.
print("Hello World ")

Hello World

In [ ]:
""" this program is evaluating
the basic arithmetic operations
of two given numbers
"""
num_1=6
num_2=4
sum=num_1+num_2
prod=num_1*num_2
sub=num_1-num_2
div=num_1/num_2
fdiv=num_1//num_2
mod=num_1%num_2
print("sum =",sum)
print("prod =",prod)
print("sub =",sub)
print("div =",div)
print("fdiv =",fdiv)
print("mod =",mod)

sum = 10
prod = 24
sub = 2
div = 1.5
fdiv = 1
mod = 2

In [ ]:
""" user input """
num_1=int(input("enter the first number : "))
num_2=int(input("enter the second number : "))
sum=num_1+num_2
prod=num_1*num_2
sub=num_1-num_2
div=num_1/num_2
fdiv=num_1//num_2
mod=num_1%num_2
print("sum =",sum)
print("prod =",prod)
print("sub =",sub)
print("div =",div)
print("fdiv =",fdiv)
print("mod =",mod)

enter the first number : 33
enter the second number : 22
sum = 55
prod = 726
sub = 11
div = 1.5
fdiv = 1
mod = 11

### STRING INPUT AND OUTPUT

In [ ]:
# enter your name example
name=input("enter your name : ")
print("hello  "+ name + "  EID MUBARIK ")

enter your name : ZAINAB BIBI
hello  ZAINAB BIBI  EID MUBARIK